<div class="row">
<% @videos.each do |video| %>
  <div class="col-lg-2 col-md-3 col-sm-4 col-12">
    <div class="card">
      <%= link_to( image_tag(video["thumbnails"].first["url"], class: "card-img-top"), video_path(video["_id"]) )%>
      <div class="card-body">
        <h5 class="card-title text-center"><%= video["title"] %></h5>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="row mt-5">
  <div class="col-lg-4 col-md-6 col-8 offset-lg-5 offset-md-4 offset-2">
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-lg">
        <li class='page-item <%= "disabled" unless @pagination["previous"] %>'>
          <%= link_to("Prev", videos_path(page: @pagination["previous"]), class: "page-link") %>
        </li>
        <li class="page-item">
          <a class="page-link"><%= @pagination["current"]%>-<%=@pagination["pages"] %></a>
        </li>
        <li class='page-item <%= "disabled" unless @pagination["next"] %>'>
          <%= link_to("Next", videos_path(page: @pagination["next"]), class: "page-link") %>
        </li>
      </ul>
    </nav>
  </div>
</div>